- title "Announcements"

%h1 Announcements
%ul#ann_index
  - @announcements.each do |a|
    %li
      %span.ann_date= h a.display_date_and_time
      %h2= h a.what
      %h5= h a.location
      %p= h a.details.html_safe
      /%b= link_to 'View Sermon', sermon

