[submodule "vendor/extensions/wym_editor_filter"]
	path = vendor/extensions/wym_editor_filter
	url = git://github.com/jomz/radiant-wym-editor-filter-extension.git
[submodule "vendor/extensions/page_preview"]
	path = vendor/extensions/page_preview
	url = http://github.com/tricycle/radiant-page-preview-extension.git
[submodule "vendor/extensions/file_system"]
	path = vendor/extensions/file_system
	url = git://github.com/nelstrom/radiant-file-system-extension.git
[submodule "vendor/extensions/share_layouts"]
	path = vendor/extensions/share_layouts
	url = git://github.com/radiant/radiant-share-layouts-extension.git
[submodule "vendor/extensions/asset_packager"]
	path = vendor/extensions/asset_packager
	url = git://github.com/nelstrom/radiant-asset_packager-extension.git
[submodule "vendor/extensions/no_dev_cache"]
	path = vendor/extensions/no_dev_cache
	url = git://github.com/jgarber/radiant-no_dev_cache-extension.git
[submodule "vendor/extensions/back_door"]
	path = vendor/extensions/back_door
	url = git://github.com/aitorgr/radiant-backdoor.git
[submodule "vendor/extensions/event_calendar"]
	path = vendor/extensions/event_calendar
	url = git://github.com/radiant/radiant-event-calendar-extension.git
