[submodule "vendor/extensions/wym_editor_filter"]
	path = vendor/extensions/wym_editor_filter
	url = git://github.com/jomz/radiant-wym-editor-filter-extension.git
[submodule "vendor/extensions/page_preview"]
	path = vendor/extensions/page_preview
	url = http://github.com/tricycle/radiant-page-preview-extension.git
[submodule "vendor/extensions/file_system"]
	path = vendor/extensions/file_system
	url = git://github.com/nelstrom/radiant-file-system-extension.git
[submodule "vendor/extensions/share_layouts"]
	path = vendor/extensions/share_layouts
	url = git://github.com/radiant/radiant-share-layouts-extension.git
