<script type='text/javascript'>

    $(function() {
	
		$('#calendar').fullCalendar({
            timeFormat: 'g:ix',
			events: $.fullCalendar.gcalFeed(
				'http://www.google.com/calendar/feeds/m2mhi9aoueuujgalci739t8iqc%40group.calendar.google.com/private-b6e1fd08128e7120611022cad150e6d1/basic',
				{draggable: false, className: 'mygcal'}
			),
            eventMouseover: function(calEvent,jsEvent) {
                    $(this).append('<div id="tooltip" class="tooltip">' + calEvent.description + '</div>');
                    $(jsEvent).tooltip({tip: 'tooltip'});
            },
            eventMouseout: function(calEvent,jsEvent) {
                $('#tooltip').remove();
            },
			loading: function(bool) {
				if (bool) $('#loading').show();
				else $('#loading').hide();
			}
		});

	});

</script>
<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>
<br />
