<script type='text/javascript'>

    $(function() {
	
		$('#calendar').fullCalendar({
            timeFormat: 'g:ix',
			events: $.fullCalendar.gcalFeed(
				'https://www.google.com/calendar/feeds/tbwh.org_fvhp4dc83dbjcg6qljp3oifpe4%40group.calendar.google.com/private-877e2472194726bab194ec2be8337056/basic', 
				{draggable: false, className: 'mygcal'}
			),
            eventRender: function(event, element) {
                element.attr('title', event.title);
            },
			eventClick: function(event) {
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			loading: function(bool) {
				if (bool) $('#loading').show();
				else $('#loading').hide();
			}
		});
		
	});

</script>
<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>
<br />
