$temple_red: #8C0D0D;
$dark_temple_red: #51100C;
$light_cream: #BF9F56;

// Brown shades - http://slayeroffice.com/tools/color_palette/?hex=38200D
// Cranberry shades - http://slayeroffice.com/tools/color_palette/?hex=8c0d0d

// Firetruck - http://kuler.adobe.com/#themeID/449308
// D8E2E9 - light gray
// 8B8C80 - gray
// BF9F56 - yellowish brown
// 8C0D0D - lighter cranberry (base color)
// 51100C - darker cranberry

// #E1D2B0 - light cream for content area


.temple_red {
  color: $temple_red }


#logo { height: 114px; }

#nav {
  width: 580px;
  height: 114px;
  display: block;
  float: right;
  margin: 0 -15px 0 0;

  ul {
    padding: 0;
    margin-top: 21px;
  }

  li {
    display: inline;
    //text-indent: -9999px;
    //margin: 0;
  }

  a {
    display: block;
    float: left;
    height: 114px;
    cursor: pointer;
    padding: 20px 15px 20px 19px;
  }

}


