$temple_red: #8C0D0D;
$dark_temple_red: #51100C;
//$light_cream: #BF9F56;
$light_cream: #E1D2B0;
$very_light_cream: #F5F4F0;

$gray1: #ECE9E7;

// Brown shades - http://slayeroffice.com/tools/color_palette/?hex=38200D
// Cranberry shades - http://slayeroffice.com/tools/color_palette/?hex=8c0d0d

// Firetruck - http://kuler.adobe.com/#themeID/449308
// D8E2E9 - light gray
// 8B8C80 - gray
// BF9F56 - yellowish brown
// 8C0D0D - lighter cranberry (base color)
// 51100C - darker cranberry

// #E1D2B0 - light cream for content area


.temple_red {
  color: $temple_red }

body {
  background-color: $very_light_cream;
}

//#logo { height: 114px; }

#nav {
  width: 580px;
  height: 114px;
  display: block;
  float: right;
  margin: 0 -10px 0 0;

  ul {
    padding: 0;
    margin-top: 21px;
  }

  li {
    display: inline;
    //text-indent: -9999px;
    margin: 0;
  }

  a {
    display: block;
    float: left;
    height: 114px;
    cursor: pointer;
    padding: 20px 15px 20px 19px;
  }

}

#header {
  border-top: 3px solid $temple_red;
  padding: 36px 0px 36px;
}

#callout {
  padding: 36px 0px 36px;
}

#content {
  padding: 36px 0px 36px;
}

#footer {
  height: 160px;
  padding: 36px 0px 60px;
  border-top: 2px solid $temple_red;
}

