.temple_red {
  color: #8c0d0d; }

body {
  background-color: #f5f4f0; }

#nav {
  display: block;
  float: right;
  margin: 21px -10px 0 0; }
  #nav ul {
    padding: 0;
    margin-top: 21px; }
  #nav li {
    display: inline;
    margin: 0; }
  #nav a {
    display: block;
    float: left;
    cursor: pointer;
    padding: 20px 10px 20px 10px;
    color: #8c0d0d;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px; }

#header {
  background-color: #eae4d9;
  border-bottom: 2px solid #e1d2b0;
  border-top: 3px solid #8c0d0d;
  padding: 26px 0px 26px; }

#callout {
  padding: 36px 0px 36px; }

#content {
  padding: 36px 0px 36px; }

#footer {
  height: 160px;
  padding: 36px 0px 60px;
  border-top: 2px solid #8c0d0d; }
  #footer li {
    list-style-type: none; }
  #footer a {
    cursor: pointer;
    color: #8c0d0d;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }
