.temple_red {
  color: #8c0d0d; }

#logo {
  height: 114px; }

#nav {
  width: 580px;
  height: 114px;
  display: block;
  float: right;
  margin: 0 -15px 0 0; }
  #nav ul {
    padding: 0;
    margin-top: 21px; }
  #nav li {
    display: inline; }
  #nav a {
    display: block;
    float: left;
    height: 114px;
    cursor: pointer;
    padding: 20px 15px 20px 19px; }
