body {
  background: url(/images/slices/bodybg.jpg) repeat 0 190px;
  font-family: "Trebuchet MS","Helvetica Neue",Arial,sans-serif; }

.temple_red {
  color: #8c0d0d; }

a {
  color: #8c0d0d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#services-overlay {
  z-index: 1000;
  height: 150px;
  position: absolute;
  background: url(/images/slices/headerbg.jpg) repeat-x 0 0;
  padding-top: 20px;
  border-width: 0 2px 2px 2px;
  border-color: #BF9F56;
  border-style: solid;
  top: -175px;
  left: 16%; }
  #services-overlay #services-tab span {
    bottom: -40px;
    display: block;
    height: 42px;
    position: absolute;
    right: 20px;
    text-indent: -9999px;
    width: 248px;
    cursor: pointer;
    background: url(/images/slices/servicestab.png); }

#headerwrap {
  background: url(/images/slices/headerbg.jpg) repeat-x 0 0; }

#contentwrap {
  background: url(/images/slices/contentbg.png) repeat 0 0; }

#header {
  height: 175px; }

#logo a {
  background: transparent url(/images/temple_logo_white_small.png) no-repeat scroll 0 -10px;
  height: 180px;
  width: 254px;
  float: left;
  overflow: hidden;
  text-indent: -9000px;
  display: block; }

.sidebox {
  background: #F4E7E7 none repeat scroll 0 0;
  border: 1px solid #C68787;
  margin-bottom: 10px;
  padding: 10px 20px 0 20px;
  font-size: 14px; }
  .sidebox ul li {
    list-style: none;
    margin: 0; }

#content {
  margin-top: 10px;
  margin-left: 15px; }
  #content p {
    margin-right: 15px; }

.content_box {
  margin-top: 20px; }
  .content_box h3 {
    color: #8c0d0d; }

#sidebar {
  margin-top: 10px; }

#footer {
  background: url(/images/slices/footerbg.jpg) repeat 0 0;
  color: #CDC7C2;
  padding-top: 20px;
  height: 125px; }

.footer_section {
  list-style-type: none; }
  .footer_section li a {
    letter-spacing: 2px;
    line-height: 1.7em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold; }

#loading {
  position: absolute;
  top: 5px;
  right: 5px; }

#calendar {
  width: 100%;
  margin: 0 auto; }

.full-calendar-month .event td {
  background-color: #8c0d0d;
  color: #ffffff;
  font-weight: bold;
  padding: 0; }

.full-calendar-title {
  color: #8c0d0d;
  text-align: left; }

.full-calendar-month td.today {
  background: #C68787;
  color: #ffffff; }

#navbar {
  float: right;
  font-size: 18px;
  margin: 30px 0 0 0; }
  #navbar li {
    display: inline;
    margin: 0 20px 0 0; }
    #navbar li a {
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }

.sf-menu {
  width: 100%; }

#nav_main_wrap {
  background: #51100C;
  border-top: 5px solid #8c0d0d;
  border-bottom: 5px solid #8c0d0d;
  width: 100%; }

#nav_main {
  background: #51100C;
  border-top: 5px solid #8c0d0d;
  border-bottom: 5px solid #8c0d0d;
  font-size: 14px;
  margin: -5px auto;
  width: 960px; }
  #nav_main li {
    float: left;
    list-style: none;
    margin-left: 0px; }
    #nav_main li.current {
      background: #8c0d0d; }
  #nav_main a {
    color: #BF9F56;
    display: block;
    padding: 8px 20px;
    white-space: nowrap; }
    #nav_main a:hover {
      color: #fff;
      text-decoration: underline; }
  #nav_main li.current a {
    color: #fff; }

#nav_sub_wrap {
  background-color: #8c0d0d;
  margin: 0 0 -2px;
  width: 100%; }

#nav_sub {
  background-color: #8c0d0d;
  font-size: 11px;
  margin: -5px auto 0;
  width: 960px; }
  #nav_sub ul {
    padding: 0 0 0 10px;
    margin-bottom: 0; }
  #nav_sub li {
    float: left;
    list-style: none;
    padding: 6px 0 8px; }
  #nav_sub a {
    border-left: 1px solid #876;
    color: #fff;
    display: block;
    padding: 0 10px;
    white-space: nowrap; }
    #nav_sub a:hover {
      color: #fff;
      text-decoration: underline; }
    #nav_sub a.first {
      border: 0; }
  #nav_sub li.current {
    color: #fff;
    font-size: 100%;
    position: relative;
    z-index: 10; }
    #nav_sub li.current a {
      color: #fff; }

#sermon_index {
  list-style: none; }
  #sermon_index h2 {
    margin-bottom: 5px; }
  #sermon_index li {
    padding-bottom: 20px;
    margin: 20px 0 0 0;
    border-bottom: 1px solid #BF9F56; }
    #sermon_index li:last-child {
      border-bottom: none; }

.sermon_date {
  float: right;
  font-size: 20px; }

#staff_index {
  list-style: none; }
  #staff_index h2 {
    margin-bottom: 5px; }
  #staff_index li {
    padding-bottom: 20px;
    margin: 20px 20px 20px 0;
    border-bottom: 1px solid #BF9F56;
    clear: both;
    min-height: 250px; }
    #staff_index li:last-child {
      border-bottom: none; }
  #staff_index img {
    float: left;
    margin-right: 20px;
    padding: 2px; }

#homepage_list {
  list-style: none; }
  #homepage_list li {
    font-size: 16px;
    margin-left: 5px; }

.form input[type="text"] {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #FFFFFF; }
.form textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #FFFFFF;
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%; }
.form input:hover, .form textarea:hover, .form input:focus, .form textarea:focus {
  border-color: #8c0d0d; }
.form label {
  float: left;
  width: 200px;
  font-size: 16px;
  font-weight: bold; }

.submit input {
  width: auto;
  padding: 9px 15px;
  background: #51100C;
  border: 0;
  font-size: 14px;
  color: #FFFFFF; }

.event-item {
  border-bottom: 1px solid #EAEAE8;
  color: !temple_dark_red;
  margin-left: 5px;
  margin-top: 12px;
  padding: 0 2px 11px; }
  .event-item a {
    color: #444443;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 14pt;
    padding-bottom: 2px;
    text-decoration: none; }
  .event-item strong {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase; }
