
<!-- end #header_wrap -->
<div id="nav_main_wrap">
  <div id="nav_main">
  <ol>
  <li class="current"><a href="/home.html">Home</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Adult Ministries</a></li>
  <li><a href="#">Youth</a></li>
  <li><a href="#">Children's Ministries</a></li>
  <li><a href="#">Sermons</a></li>
  <li><a href="#">Prayer</a></li>
  <li><a href="#">Calendar</a></li>
  <li><a href="#">Contact</a></li>
  </ol>
  <span class="clear">&nbsp;</span>
  </div>
</div>
<!-- end #nav_main_wrap -->
<!--
<div id="nav_sub_wrap"><div id="nav_sub"><ul><li><a href="/about-us/visiting-stonebriar.html"  class="first">Visiting Stonebriar?</a></li><li><a href="/worship/sermons.html"  >Sermons</a></li><li><a href="/worship/hispanic-services.html"  >Hispanic Services</a></li><li><a href="/worship/wednesday-nights.html"  >Wednesday Nights</a></li><li><a href="/worship/choirs.html"  >Choirs</a></li><li><a href="/worship/orchestra.html"  >Orchestra</a></li><li><a href="/worship/special-events.html"  >Special Events</a></li></ul><span class="clear">&nbsp;</span></div></div>

 end #nav_sub_wrap -->
