    <!-- sidebar -->
    <div class="grid_4 alpha omega" id="sidebar">
        <div class="sidebox">
            <h4>Sunday, <%= next_sunday %></h4>
            <ul>
            <li>Bible Study - 9:15 am</li>
            <li>Morning Worship - 10:30 am</li>
            <li>Discipleship - 5:30 pm</li>
            </ul>
        </div>
    <h6>Members: Looking for the old templetoday.com?  <a target="_blank" href="http://mc.templetoday.com">Click here</a>.</h6>
    <!--
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    -->
    </div>
