    <!-- sidebar -->
    <div class="grid_4 alpha omega" id="sidebar">
        <div class="sidebox">
            <h4>Sunday, <%= next_sunday %></h4>
            <ul>
            <li>Bible Study - 9:15 am</li>
            <li>Morning Worship - 10:30 am</li>
            <li>Discipleship - 5:30 pm</li>
            </ul>
        </div>

    <% if false %>
    <!--
    <% upcoming_events.each do |event| %>
    <div class="event-item">
        <a href="#"><%= event[:title] %></a>
        
        <p><strong>Date:</strong>
        <%= event[:start] %><br />
        <%= event[:end] %>
        </p>

    </div>
    <% end %>
    -->
    <% end %>
    <!--
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    -->
    </div>
