

<!-- "previous slide" button 
<a class="backward">prev</a> -->

<!-- container for the slides -->
<div class="images">

	<!-- first slide -->
	<div style="display:block">
		<h3>Women's Bible Study: Esther</h3>

		<img src="/images/promos/esther_sm.jpg" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">
			Study begins September 12 @ 5:30.
		</p>

		<p>
			Suspendisse potenti. Sed elementum risus eleifend massa vestibulum consectetur. Duis massa augue, aliquam eget fringilla vel, aliquam vitae arcu. Nam sed magna mi. Praesent odio neque, dapibus sit amet suscipit at, tempus sed nibh. Aliquam sagittis ligula in ligula faucibus cursus. Quisque vulputate pellentesque facilisis.
		</p>

	</div>

	<!-- second slide -->
	<div>
		<h3>Dive Deeper: The DaVinci Code: A Quest for Answers</h3>


		<!-- <img src="/images/promos/dvquest_lg.jpg" alt="Flying screens" style="float:left;margin:0 30px 20px 0" /> -->

		<p style="font-weight:bold">
			Study begins September 12 @ 5:30.
		</p>

		<p>
			Vivamus euismod euismod sagittis. Etiam cursus neque non lectus mattis cursus et a libero. Vivamus condimentum hendrerit metus, a sollicitudin magna vulputate eu. Donec sed tincidunt lectus. Donec tellus lectus, fermentum sit amet porta non, rhoncus ac mi. Quisque placerat auctor justo, a egestas urna tincidunt eleifend.
		</p>
	</div>

	<!-- third slide -->
	<div>
		<h3>Third pane</h3>

		<p style="font-weight:bold">
			Non lectus lacinia egestas. Nulla hendrerit, felis quis elementum viverra, purus felis egestas magna.
		</p>

		<p>
			Aenean elit lorem, pretium vitae dictum in, fermentum consequat dolor. Proin consectetur sollicitudin tellus, non elementum turpis pharetra non. Sed quis tellus quam.
		</p>
	</div>

</div>

<!-- "next slide" button 
<a class="forward">next</a><p> -->

<!-- the tabs -->
<div class="tabs">
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
</div>

<!--
<div style="clear:both;margin:30px 0;text-align:center;padding-right:40px">

<button onClick='$("div.tabs").tabs().play();'>Play</button>
<button onClick='$("div.tabs").tabs().stop();'>Stop</button>
</div>-->

    <script type='text/javascript'>
    $(function() {
        $("div.tabs").tabs(".images > div", {
            effect: 'fade',
            fadeOutSpeed: "slow",
            rotate: true
        }).slideshow({autoplay: true});
    });
    </script>

    <div class="clear"></div>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>


    <div class="grid_4 alpha content_box" id="col-1">
    <h3>Last Week's Sermon</h3>
    <h4>David &nbsp; Goliath</h4>
    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
    </div>

    <div class="grid_4 omega content_box" id="col-2">
    <h3>Recent Activities</h3>
    <h4>Donec non enim in turpis pulvinar facilisis.</h4>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>

    <div class="grid_4 alpha content_box" id="col-3">
    <h3>Calendar</h3>
    <h4>Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</h4>
    <ul>
        <li>Pellentesque habitant</li>
        <li>Pellentesque habitant</li>
        <li>Pellentesque habitant</li>
        <li>Pellentesque habitant</li>
        <li>Pellentesque habitant</li>
    </ul>
    </div>

    <div class="grid_4 omega content_box" id="col-4">
    <h3>Upcoming Classes</h3>
    <h4>Donec non enim in turpis pulvinar facilisis.</h4>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>

