<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title><r:title /></title>
    <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="page">
      <r:snippet name="header" />
      <div id="main">
        <div id="content-wrapper">
          <div id="content">
            <r:unless_url matches="^/$"><h1><r:title /></h1></r:unless_url>
            <r:content />
            <r:if_content part="extended">
            <div id="extended">
              <r:content part="extended" />
            </div>
            </r:if_content>
            <r:if_url matches="^/articles/\d{4}/\d{2}/\d{2}/.+"><r:unless_url matches="-archives/$"><p class="info">Posted by <r:author /> on <r:date /></p></r:unless_url></r:if_url>
          </div>
        </div>
        <div id="sidebar-wrapper">
          <div id="sidebar">
            <r:content part="sidebar" inherit="true" />
          </div>
        </div>
      </div>
      <r:snippet name="footer" />
    </div>
  </body>
</html>
