
<!-- Start of first page -->
<div data-role="page" id="home">

  <div data-role="header">
    <a href="index.html" data-icon="home"></a>
    <h1>Welcome to Temple!</h1>
  </div><!-- /header -->

  <div data-role="content"> 
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>    
    <p>Bar is a link<a href="#bar">bar</a></p> 
    <a href="#service_times" data-role="button">Service Times</a>
    <a href="index.html" data-role="button">Calendar</a>
    <a href="index.html" data-role="button">Contact</a>
  </div><!-- /content -->

<%= render 'footer' %>
</div><!-- /page -->


<!-- Start of second page -->
<div data-role="page" id="service_times">

  <div data-role="header">
    <h1>Service Times</h1>
  </div><!-- /header -->

  <div data-role="content"> 
    <p>Service Times</p>    
    <p><a href="#home">Back to home</a></p> 
  </div><!-- /content -->

<%= render 'footer' %>
</div><!-- /page -->
