<h1>Prayers and Praises</h1>

<ul>
<% @prayerandpraises.each do |prayerandpraise| %>
    <li>
      <%=h prayerandpraise.title %>
      <%=h prayerandpraise.body %>
      <%=h prayerandpraise.created_at %>
    </li>
<% end %>
</ul>

<% will_paginate @prayerandpraises %>

