<h2>Successfully subscribed to the newsletter</h2>

<p>You've been successfully subscribed to the newsletter. Please 
confirm your subscription by clicking on the link we've just sent 
you to your email.</p>