!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Temple Baptist Church
    = stylesheet_link_tag "960/reset", "960/text", "960/960", "application", :cache => true
  %body
    #header.clearfix
      .container_16.clearfix
        #logo.grid_4
          %img{:src => "http://dummyimage.com/114x100" }
          / end logo
        .grid_11.prefix_1
          #nav
            %ul
              %li
                %a{:href => '#'} Home
              %li
                %a{:href => '#'} Sermons
              %li
                %a{:href => '#'} Calendar
              %li
                %a{:href => '#'} Prayer
              %li
                %a{:href => '#'} Directory
              %li
                %a{:href => '#'} About
              %li
                %a{:href => '#'} Contact
              / end nav
      / end container_16
    / end header

    #callout
      .container_16.clearfix
        #rotator.grid_16
          %img{:src => "http://dummyimage.com/935x200" }

    #content
      .container_16.clearfix
        .grid_8
          %h2 Header 2
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed eros erat, eu auctor nisl. Fusce eget mauris a eros tempus vulputate sed eu neque. Nullam luctus iaculis dui, nec euismod nisi gravida eget. Nam molestie ligula non velit dapibus faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra, mauris ac tempus suscipit, nunc lectus tincidunt nulla, id vestibulum dui neque ac erat.
        / end .grid_8
        .grid_8
          %h2 Header 2
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed eros erat, eu auctor nisl. Fusce eget mauris a eros tempus vulputate sed eu neque. Nullam luctus iaculis dui, nec euismod nisi gravida eget. Nam molestie ligula non velit dapibus faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra, mauris ac tempus suscipit, nunc lectus tincidunt nulla, id vestibulum dui neque ac erat.
      / end .grid_8
    / end content

    .container_16.clearfix
      #footer
        .grid_5
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed eros erat, eu auctor nisl. 
        .grid_5
          %p
            Fusce eget mauris a eros tempus vulputate sed eu neque. Nullam luctus iaculis dui, nec euismod nisi gravida eget.
        #ft-nav.prefix_1.grid_2
          %ul
            %li
              %a{:href => '#'} Home
            %li
              %a{:href => '#'} Sermons
            %li
              %a{:href => '#'} Calendar
            %li
              %a{:href => '#'} Prayer
            %li
              %a{:href => '#'} Directory
            %li
              %a{:href => '#'} About
            %li
              %a{:href => '#'} Contact
        .grid_3
          %p
            Fusce eget mauris a eros tempus vulputate sed eu neque. Nullam luctus iaculis dui, nec euismod nisi gravida eget.






